# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/longhorn.io/recurringjob_v1beta2.json
---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: all-trim-daily
  namespace: {{ .Release.Namespace }}
spec:
  concurrency: 1
  cron: 0 4 * * *     # 04:00 daily
  groups:
  - ephemeral
  - secondary
  - default
  - critical
  retain: 0
  task: filesystem-trim

---
apiVersion: longhorn.io/v1beta2
kind: RecurringJob
metadata:
  name: system-backup-daily
  namespace: {{ .Release.Namespace }}
spec:
  task: system-backup
  cron: "0 2 * * *"   # 02:00 daily
  retain: 30
  parameters:
    # Don't backup volumes as part of this job
    volume-backup-policy: disabled
