---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: configarr
  namespace: {{ .Release.Namespace }}
spec:
  schedule: "0 */8 * * *" # Runs every 8 hours
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        spec:
          initContainers:
            - name: write-secrets-yaml
              image: alpine:3.22.2
              envFrom:
                - secretRef:
                    name: api-keys
              volumeMounts:
                - name: config-dir
                  mountPath: /app/config
              command:
                - /bin/sh
                - -c
                - |
                  cat <<EOF >/app/config/secrets.yml
                  SONARR_API_KEY: "${SONARR_API_KEY}"
                  RADARR_API_KEY: "${RADARR_API_KEY}"
                  EOF
                  chmod 600 /app/config/secrets.yml
          containers:
            - name: configarr
              image: ghcr.io/raydak-labs/configarr:1.12.1
              imagePullPolicy: IfNotPresent
              tty: true # for color support
              env:
                - name: LOG_STACKTRACE
                  value: "true"
              volumeMounts:
                - mountPath: /app/repos # Cache repositories
                  name: config
                  subPath: configarr-repos
                - name: config-dir
                  mountPath: /app/config/secrets.yml
                  subPath: secrets.yml
                  readOnly: true
                - name: config-volume # Mount specific config
                  mountPath: /app/config/config.yml
                  subPath: config.yml
                  readOnly: true
          volumes:
            - name: config
              persistentVolumeClaim:
                claimName: "{{ .Release.Name }}-config"
            - name: config-volume
              configMap:
                name: configarr
            - name: config-dir
              emptyDir: {}
          restartPolicy: Never
