eval "$(devenv direnvrc)"

watch_dir cmd/lab
# `use devenv` supports the same options as the `devenv shell` command.
#
# To silence the output, use `--quiet`.
#
# Example usage: use devenv --quiet --impure --option services.postgres.enable:bool true
use devenv --quiet --impure
