# https://devenv.sh/
.devenv*
.pre-commit-config.yaml
devenv.local.*

# direnv
.direnv

# Python virtual environments
.venv

# result is the output when building live isos
result

# locally generated helm charts
*.tgz
