# https://github.com/kubereboot/charts/tree/main/charts/kured
kured:
  revisionHistoryLimit: 3
  configuration:
    timeZone: America/Denver
    prometheusUrl: http://monitoring-system-kube-pro-prometheus.monitoring-system.svc.cluster.local:9090
    notifyUrl: http://kured-webhook.kured.svc.cluster.local:8080
    messageTemplateDrain: "event=drain node=%s"
    messageTemplateReboot: "event=reboot node=%s"
    messageTemplateUncordon: "event=uncordon node=%s"
    # How often to check for sentinel file
    period: "30m0s"
    rebootCommand: "/run/current-system/sw/bin/systemctl reboot"
    alertFilterRegexp: "^(KubeVersionMismatch|LonghornVolumeActualSpaceUsedWarning|LonghornNodeStorageWarning|LonghornDiskStorageWarning)$"

webhook:
  enabled: true
  image:
    repository: python
    tag: 3.12-alpine
  alertmanagerUrl: http://monitoring-system-kube-pro-alertmanager.monitoring-system.svc.cluster.local:9093
  drainSilenceDuration: 3h
  drainSilenceAlerts:
    - LonghornVolumeStatusWarning
    - LonghornVolumeActualSpaceUsedWarning
    - NodeSystemSaturation
    - NodeCPUHighUsage
  postRebootSilenceDuration: 15m
  rebootAlertTtl: 6h
  postRebootSilenceAlerts:
    - KubePodNotReady
    - KubeDaemonSetRolloutStuck
    - LonghornNodeDown
