# https://github.com/longhorn/charts/blob/v1.8.x/charts/longhorn/values.yaml
longhorn:
  defaultSettings:
    allowCollectingLonghornUsageMetrics: false
    defaultDataLocality: best-effort
    # -- Maximum number of engines that are allowed to concurrently upgrade on each node after Longhorn Manager is upgraded. When the value is "0", Longhorn does not automatically upgrade volume engines to the new default engine image version.
    concurrentAutomaticEngineUpgradePerNodeLimit: "1"
    # -- Maximum number of replicas that can be concurrently rebuilt on each node. Increase this to speed up replica evacuation during node drains.
    concurrentReplicaRebuildPerNodeLimit: "3"
    # -- Default number of replicas for new volumes. With 3 nodes and good backup coverage, 2 replicas provides better fault tolerance during node maintenance.
    defaultReplicaCount: "2"
    # -- Timeout in seconds for communication between the engine and replica processes. Increase this to tolerate I/O spikes from applications like Prometheus compaction.
    engineReplicaTimeout: "16"
    # -- Upgrade Checker that periodically checks for new Longhorn versions. When a new version is available, a notification appears on the Longhorn UI. This setting is enabled by default
    upgradeChecker: false
  defaultBackupStore:
    # -- Endpoint used to access the default backupstore.
    backupTarget: nfs://10.69.80.12:/backups/longhorn
    backupTargetCredentialSecret: ~
    # -- Number of seconds that Longhorn waits before checking the default backupstore for new backups.
    # This setting affects Disaster Recovery volumes which are incrementally restored from backup on an ongoing basis.
    # See https://longhorn.io/docs/archives/1.7.1/concepts/#34-backupstore-update-intervals-rto-and-rpo
    pollInterval: ~
  ingress:
    enabled: true
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/group: "Cluster"
      gethomepage.dev/name: "Longhorn"
      gethomepage.dev/description: "Distributed block storage"
      gethomepage.dev/icon: "sh-rancher-longhorn.svg"
      gethomepage.dev/pod-selector: "app=longhorn-ui"
    host: longhorn.msng.to
    path: /
    pathType: Prefix
    tls: true
  metrics:
    serviceMonitor:
      enabled: true
