apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: longhorn-drop-default-group-when-nondefault-present
  namespace: {{ .Release.Namespace }}
spec:
  validationFailureAction: audit
  background: false
  rules:
    - name: remove-default-group-label
      match:
        any:
          - resources:
              kinds: ["PersistentVolumeClaim"]
              selector:
                matchExpressions:
                  - key: recurring-job-group.longhorn.io/default
                    operator: Exists
      preconditions:
        all:
          # Does the PVC have ANY non-default recurring-job group label?
          - key: "{{ `{{ length(keys(request.object.metadata.labels)[?contains(@, 'recurring-job-group.longhorn.io/') && @ != 'recurring-job-group.longhorn.io/default']) }}` }}"
            operator: GreaterThan
            value: 0

      mutate:
        patchesJson6902: |-
          - op: remove
            path: /metadata/labels/recurring-job-group.longhorn.io~1default
      skipBackgroundRequests: true
