argo-cd:
  global:
    domain: argocd.msng.to
    # logging:
    #   level: debug
    env:
      - name: TZ
        value: America/Denver

  configs:
    # argocd-cmd-params-cm configmap
    params:
      server.insecure: true
      controller.diff.server.side: false
    # argocd-cm configmap
    cm:
      # ArgoCD's default annotation tracking stores a large amount of data in annotations for large resources.
      # This can cause sync errors when the maximum annotation size is exceeded.
      # Use labels instead of annotations for resource tracking.
      application.resourceTrackingMethod: label
      resource.ignoreResourceUpdatesEnabled: true
      resource.customizations.ignoreResourceUpdates.argoproj.io_Application: |
        jsonPointers:
        # Ignore when ownerReferences change, for example when a parent ApplicationSet changes often.
        - /metadata/ownerReferences
        # Ignore reconciledAt, since by itself it doesn't indicate any important change.
        - /status/reconciledAt
        jqPathExpressions:
        # Ignore lastTransitionTime for conditions; helpful when SharedResourceWarnings are being regularly updated but not
        # actually changing in content.
        - .status?.conditions[]?.lastTransitionTime
      resource.customizations.ignoreResourceUpdates.all: |
        jsonPointers:
          - /status
      oidc.config: |
        name: Authelia
        issuer: https://authelia.msng.to
        clientID: argocd
        enablePKCEAuthentication: true
        requestedScopes:
          - openid
          - profile
          - email
          - groups
        requestedIDTokenClaims:
          groups:
            essential: true
    rbac:
      policy.default: role:none
      policy.csv: |
        p, role:readonly, applications, get, */*, allow
        p, role:readonly, projects, get, *, allow
        p, role:readonly, repositories, get, *, allow
        p, role:readonly, clusters, get, *, allow
        g, argocd-admin, role:admin
        g, full-admin, role:admin
        g, argocd-user, role:readonly
  server:
    ingress:
      enabled: true
      tls: true
    metrics: &metrics
      enabled: true
      serviceMonitor:
        enabled: true
  # Authelia OIDC is configured under configs.cm.oidc.config
  dex:
    enabled: false
  controller:
    metrics: *metrics
  repoServer:
    metrics: *metrics
  redis:
    metrics:
      enabled: false
# https://github.com/argoproj/argo-helm/blob/main/charts/argocd-apps/values.yaml
argocd-apps:
  applications:
    k8s-root:
      namespace: argocd
      project: default
      destination:
        name: in-cluster
        namespace: argocd
      source:
        repoURL: http://gitea-http.gitea:3000/ops/k8s-homelab
        targetRevision: main
        path: k8s
        directory:
          include: "*/application.yaml"
          exclude: "*/**/application.yaml"
          recurse: true
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
          - RespectIgnoreDifferences=true

argo-events:
  controller:
    rbac:
      namespaced: false
    replicas: 1
