argo-cd:
  global:
    domain: argocd.msng.to
    env:
      - name: TZ
        value: America/Denver
  configs:
    # argocd-cmd-params-cm configmap
    params:
      server.insecure: true
      controller.diff.server.side: false
    # argocd-cm configmap
    cm:
      # ArgoCD's default annotation tracking stores a large amount of data in annotations for large resources.
      # This can cause sync errors when the maximum annotation size is exceeded.
      # Use labels instead of annotations for resource tracking.
      application.resourceTrackingMethod: label
      resource.ignoreResourceUpdatesEnabled: true
      resource.customizations.ignoreResourceUpdates.argoproj.io_Application: |
        jsonPointers:
        # Ignore when ownerReferences change, for example when a parent ApplicationSet changes often.
        - /metadata/ownerReferences
        # Ignore reconciledAt, since by itself it doesn't indicate any important change.
        - /status/reconciledAt
        jqPathExpressions:
        # Ignore lastTransitionTime for conditions; helpful when SharedResourceWarnings are being regularly updated but not
        # actually changing in content.
        - .status?.conditions[]?.lastTransitionTime
      resource.customizations.ignoreResourceUpdates.all: |
        jsonPointers:
          - /status
  server:
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      tls: true
    metrics: &metrics
      enabled: true
      serviceMonitor:
        enabled: true
  # TODO integrate with authelia
  dex:
    enabled: false
  controller:
    metrics: *metrics
  repoServer:
    metrics: *metrics
  redis:
    metrics: *metrics
# https://github.com/argoproj/argo-helm/blob/main/charts/argocd-apps/values.yaml
argocd-apps:
  applications:
    k8s-root:
      namespace: argocd
      project: default
      destination:
        name: in-cluster
        namespace: argocd
      source:
        repoURL: http://gitea-http.gitea:3000/ops/k8s-homelab
        targetRevision: main
        path: k8s
        directory:
          include: "*/application.yaml"
          exclude: "*/**/application.yaml"
          recurse: true
      syncPolicy:
        syncOptions:
          - CreateNamespace=true
          - ApplyOutOfSyncOnly=true
          - RespectIgnoreDifferences=true

argo-events:
  controller:
    rbac:
      namespaced: false
    replicas: 1
