# Default values for terraria.
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.0.1/charts/library/common/values.schema.json
# Docs: https://bjw-s-labs.github.io/helm-charts/docs/app-template/
app-template:
  defaultPodOptions:
    automountServiceAccountToken: false

  controllers:
    migration:
      strategy: Recreate
      replicas: 1
      containers:
        shell:
          image:
            repository: alpine
            tag: latest@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
          command:
            - sleep
            - infinity

    terraria:
      strategy: Recreate
      replicas: 0
      pod:
        securityContext:
          fsGroup: &gid 1200
          fsGroupChangePolicy: "OnRootMismatch"
      containers:
        terraria:
          image:
            repository: ghcr.io/passivelemon/terraria-docker
            tag: terraria-1.4.5.5
            pullPolicy: IfNotPresent
          args:
            # Allow steam friends to join
            - -steam
            - -lobby
            - friends
          env:
            #  The UID to run the server with
            - name: PUID
              value: "1200"
            #  The GID to run the server with
            - name: PGID
              value: "1200"
            #  The world size to autocreate if the worldname is not found
            - name: AUTOCREATE
              value: "3"
            #  The difficulty level to use with autocreate
            - name: DIFFICULTY
              value: "0"
            #  The seed to use with autocreate
            # - name: SEED
            #   value: "NA"
            #  The file with the list of banned players
            - name: BANLIST
              value: "banlist.txt"
            #  The language to use
            - name: LANGUAGE
              value: "en-US"
            #  The maximum amount of players that can be on the server
            - name: MAXPLAYERS
              value: "8"
            #  The message of the day
            - name: MOTD
              value: "We vibin'"
            #  Helps with entity skipping
            - name: NPCSTREAM
              value: "15"
            #  The password required to join the server
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: server-password
                  key: password
            #  The port to join the server
            - name: PORT
              value: "7777"
            #  Server process priority
            - name: PRIORITY
              value: "1"
            #  Cheat protection
            - name: SECURE
              value: "1"
            #  Automatically forward ports with uPNP
            - name: UPNP
              value: "0"
            #  The name of the world. This determines which world file to load
            - name: WORLDNAME
              value: "backflip"
            - name: WORLD_FILE_PATH
              valueFrom:
                configMapKeyRef:
                  name: server-config
                  key: WORLD_FILE_PATH

          # Allow probes time for world to generate
          probes:
            startup:
              enabled: true
              custom: true
              spec:
                failureThreshold: 60
                successThreshold: 1
                initialDelaySeconds: 10
                periodSeconds: 15
                timeoutSeconds: 1
                tcpSocket:
                  port: 7777
          resources:
            requests:
              cpu: 4000m
              memory: 6Gi
            limits:
              cpu: 4000m
              memory: 6Gi
    discord-bot:
      strategy: RollingUpdate
      replicas: 0
      serviceAccount:
        name: discord-bot
      pod:
        automountServiceAccountToken: true
      containers:
        discord-bot:
          image:
            repository: ghcr.io/astral-sh/uv
            tag: alpine
            pullPolicy: IfNotPresent
          command:
            - uv
            - run
            - --no-cache
            - --link-mode
            - copy
            - --directory
            - /app
            - python
            - -u
            - server.py
          env:
            - name: DISCORD_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: discord-bot-secret
                  key: public-key
            - name: DISCORD_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: discord-bot-secret
                  key: bot-token
            - name: DISCORD_APP_ID
              valueFrom:
                secretKeyRef:
                  name: discord-bot-secret
                  key: app-id
            - name: DISCORD_CHANNEL_ID
              valueFrom:
                secretKeyRef:
                  name: discord-bot-secret
                  key: channel-id
            - name: TERRARIA_NAMESPACE
              value: terraria
            - name: TERRARIA_DEPLOYMENT
              value: terraria
            - name: AUTO_STOP_MINUTES
              value: "5"
            - name: MINIMUM_RUN_MINUTES
              value: "30"
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                initialDelaySeconds: 30
                httpGet:
                  path: /health
                  port: 8080
            readiness:
              enabled: true
              custom: true
              spec:
                initialDelaySeconds: 30
                httpGet:
                  path: /health
                  port: 8080
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
    terraria-web:
      strategy: Recreate
      pod:
        securityContext:
          fsGroup: &gid 1000
          fsGroupChangePolicy: "OnRootMismatch"
      containers:
        terraria-web:
          image:
            repository: ghcr.io/teekennedy/terraria-server-live-map
            tag: "6713bbf"
            pullPolicy: IfNotPresent
          env:
            - name: WORLD_FILE_PATH
              value: /worlds/backflip.wld
            # turn off auto-refresh
            - name: REFRESH_INTERVAL_SECONDS
              value: "0"
            - name: TERRARIA_SERVER_HOST
              value: terraria.terraria.svc.cluster.local
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: 3000
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ready
                  port: 3000
          resources:
            requests:
              cpu: 100m
              memory: 150Mi
            limits:
              cpu: 250m
              memory: 250Mi

  service:
    terraria:
      controller: terraria
      ports:
        terraria:
          port: &terrariaPort 7777
          protocol: TCP
        http:
          port: &restPort 7878
          protocol: TCP
    discord-bot:
      controller: discord-bot
      ports:
        http:
          port: 8080
          protocol: TCP
    terraria-web:
      controller: terraria-web
      ports:
        http:
          port: &webPort 3000
          protocol: TCP

  ingress:
    terraria-web:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecurepublic
        external-dns.alpha.kubernetes.io/target: external.network.msng.to
        external-dns.alpha.kubernetes.io/record-type: CNAME
      hosts:
        - host: &terrariaHost terraria.msng.to
          paths:
            - path: /discord
              pathType: Prefix
              service:
                identifier: discord-bot
                port: http
            - path: /
              pathType: Prefix
              service:
                identifier: terraria-web
                port: http
      tls:
        - hosts:
            - *terrariaHost

  persistence:
    recovery:
      enabled: true
      type: persistentVolumeClaim
      existingClaim: terraria-recovery
      advancedMounts:
        migration:
          shell:
            - path: /recovery
    worlds-shared:
      accessMode: ReadWriteMany
      type: persistentVolumeClaim
      size: 5Gi
      storageClass: smb
      advancedMounts:
        terraria:
          terraria:
            - path: /opt/terraria/config/Worlds
        migration:
          shell:
            - path: /shared-worlds
        terraria-web:
          terraria-web:
            - path: /worlds
              readOnly: true
    worlds:
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 5Gi
      retain: true
      advancedMounts:
        migration:
          shell:
            - path: /worlds
    discord-bot-code:
      type: configMap
      name: discord-bot-code
      advancedMounts:
        discord-bot:
          discord-bot:
            - path: /app/server.py
              subPath: server.py
              readOnly: true
            - path: /app/pyproject.toml
              subPath: pyproject.toml
              readOnly: true

  secrets:
    server-password:
      forceRename: server-password
      annotations:
        secret-generator.v1.mittwald.de/autogenerate: password
        secret-generator.v1.mittwald.de/length: "16"
      stringData: {}
