# Default values for terraria.
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.0.1/charts/library/common/values.schema.json
# Docs: https://bjw-s-labs.github.io/helm-charts/docs/app-template/
app-template:
  defaultPodOptions:
    automountServiceAccountToken: false

  controllers:
    terraria:
      strategy: Recreate
      initContainers:
        config-init:
          image:
            repository: alpine
            tag: latest@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
            pullPolicy: IfNotPresent
          env:
            TERRARIA_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: terraria-password
                  key: password
          command:
            - /bin/sh
            - -c
            - |
              set -eu
              apk add --no-cache gettext
              envsubst < /config/serverconfig.txt.tmpl > /config/serverconfig.txt
      containers:
        terraria:
          image:
            repository: kaysond/docker-terraria
            tag: "latest"
            pullPolicy: IfNotPresent
          args:
            - -world
            - /worlds/backflip.wld
            - -config
            - /config/serverconfig.txt
            # Allow steam friends to join
            - -steam
            - -lobby
            - friends

  service:
    terraria:
      controller: terraria
      ports:
        terraria:
          port: &terrariaPort 7777
          protocol: TCP
        http:
          port: &restPort 7878
          protocol: TCP

  ingress:
    terraria:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: terrariapublic
        external-dns.alpha.kubernetes.io/target: external.network.msng.to
        external-dns.alpha.kubernetes.io/record-type: CNAME
      hosts:
        - host: &terrariaHost terraria.msng.to
          paths:
            - path: /
              pathType: Prefix
              service:
                identifier: terraria
                port: http
      tls:
        - secretName: terraria-tls-certificate
          hosts:
            - *terrariaHost

  persistence:
    worlds:
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 5Gi
      globalMounts:
        - path: /worlds
    plugins:
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 1Gi
      globalMounts:
        - path: /plugins
    configs:
      type: emptyDir
      globalMounts:
        - path: /config
    server-config:
      type: configMap
      identifier: server-config
      globalMounts:
        - path: /config/serverconfig.txt.tmpl
          subPath: serverconfig.txt.tmpl
          readOnly: true

  configMaps:
    server-config:
      data:
        serverconfig.txt.tmpl: |
          #this is an example config file for TerrariaServer.exe
          #use the command 'TerrariaServer.exe -config serverconfig.txt' to use this configuration or run start-server.bat
          #please report crashes by emailing crashlog.txt to support@terraria.org

          #the following is a list of available command line parameters:

          #-config <config file>				            Specifies the configuration file to use.
          #-port <port number>				              Specifies the port to listen on.
          #-players <number> / -maxplayers <number>	Sets the max number of players
          #-pass <password> / -password <password>		Sets the server password
          #-world <world file>					Load a world and automatically start the server.
          #-autocreate <#>					Creates a world if none is found in the path specified by -world. World size is specified by: 1(small), 2(medium), and 3(large).
          #-banlist <path>					Specifies the location of the banlist. Defaults to "banlist.txt" in the working directory.
          #-worldname <world name>             			Sets the name of the world when using -autocreate.
          #-secure						Adds addition cheat protection to the server.
          #-noupnp						Disables automatic port forwarding
          #-steam							Enables Steam Support
          #-lobby <friends> or <private>				Allows friends to join the server or sets it to private if Steam is enabled
          #-ip <ip address>					Sets the IP address for the server to listen on
          #-forcepriority <priority>				Sets the process priority for this task. If this is used the "priority" setting below will be ignored.
          #-disableannouncementbox				Disables the text announcements Announcement Box makes when pulsed from wire.
          #-announcementboxrange <number>				Sets the announcement box text messaging range in pixels, -1 for serverwide announcements.
          #-seed <seed>						Specifies the world seed when using -autocreate

          #Load a world and automatically start the server.
          #world=C:\Users\YOUR_USERNAME_HERE\My Documents\My Games\Terraria\Worlds\world1.wld

          #Creates a new world if none is found. World size is specified by: 1(small), 2(medium), and 3(large).
          autocreate=3

          #Sets the world seed when using autocreate
          #seed=AwesomeSeed

          #Sets special seed options, overrides the seed text if enabled. 0(disabled), 1(enabled)
          #seed_celebration=1
          #seed_theconstant=1
          #seed_notthebees=1
          #seed_notraps=1
          #seed_fortheworthy=1
          #seed_remix=1
          #seed_drunk=1
          #seed_zenith=1

          #Sets the name of the world when using autocreate
          worldname=Terraria Lost World

          #Sets the difficulty of the world when using autocreate 0(classic), 1(expert), 2(master), 3(journey)
          difficulty=1

          #Sets the max number of players allowed on a server.  Value must be between 1 and 255
          maxplayers=12

          #Set the port number
          port=7777

          #Set the server password
          password=${TERRARIA_PASSWORD}

          #Set the message of the day
          motd=We vibin'

          #Sets the folder where world files will be stored
          #worldpath=C:\Users\Defaults\My Documents\My Games\Terraria\Worlds\

          #Sets the number of rolling world backups to keep
          #worldrollbackstokeep=2

          #The location of the banlist. Defaults to "banlist.txt" in the working directory.
          #banlist=banlist.txt

          #Adds addition cheat protection.
          secure=1

          #Sets the server language from its language code.
          #English = en-US, German = de-DE, Italian = it-IT, French = fr-FR, Spanish = es-ES, Russian = ru-RU, Chinese (Simplified) = zh-Hans, Portuguese = pt-BR, Polish = pl-PL, Japanese = ja-JP, Korean = ko-KR, Chinese (Traditional) = zh-Hant
          language=en-US

          #Automatically forward ports with uPNP
          upnp=0

          #Reduces enemy skipping but increases bandwidth usage. The lower the number the less skipping will happen, but more data is sent. 0 is off.
          #npcstream=60

          #Default system priority 0:Realtime, 1:High, 2:AboveNormal, 3:Normal, 4:BelowNormal, 5:Idle
          priority=1

          #Reduces maximum liquids moving at the same time. If enabled may reduce lags but liquids may take longer to settle.
          #slowliquids=1

          #Journey mode power permissions for every individual power. 0: Locked for everyone, 1: Can only be changed by host, 2: Can be changed by everyone
          #journeypermission_time_setfrozen=2
          #journeypermission_time_setdawn=2
          #journeypermission_time_setnoon=2
          #journeypermission_time_setdusk=2
          #journeypermission_time_setmidnight=2
          #journeypermission_godmode=2
          #journeypermission_wind_setstrength=2
          #journeypermission_rain_setstrength=2
          #journeypermission_time_setspeed=2
          #journeypermission_rain_setfrozen=2
          #journeypermission_wind_setfrozen=2
          #journeypermission_increaseplacementrange=2
          #journeypermission_setdifficulty=2
          #journeypermission_biomespread_setfrozen=2
          #journeypermission_setspawnrate=2

  secrets:
    terraria-password:
      annotations:
        secret-generator.v1.mittwald.de/autogenerate: password
        secret-generator.v1.mittwald.de/length: "24"
      stringData: {}
