# Default values for terraria.
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.0.1/charts/library/common/values.schema.json
# Docs: https://bjw-s-labs.github.io/helm-charts/docs/app-template/
app-template:
  defaultPodOptions:
    automountServiceAccountToken: false

  controllers:
    terraria:
      strategy: Recreate
      replicas: 0
      initContainers:
        config-init:
          image:
            repository: alpine
            tag: latest@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
            pullPolicy: IfNotPresent
          env:
            - name: TERRARIA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: server-password
                  key: password
            - name: WORLD_FILE_PATH
              valueFrom:
                configMapKeyRef:
                  name: server-config
                  key: WORLD_FILE_PATH
          command:
            - /bin/sh
            - -c
            - |
              set -eu
              apk add --no-cache gettext
              envsubst < /config/serverconfig.txt.tmpl > /config/serverconfig.txt
      containers:
        terraria:
          image:
            repository: kaysond/docker-terraria
            tag: "latest"
            pullPolicy: IfNotPresent
          args:
            # Allow steam friends to join
            - -steam
            - -lobby
            - friends
          # Allow probes time for world to generate
          probes:
            startup:
              enabled: true
              custom: true
              spec:
                failureThreshold: 60
                successThreshold: 1
                initialDelaySeconds: 10
                periodSeconds: 15
                timeoutSeconds: 1
                tcpSocket:
                  port: 7777
            liveness:
              enabled: true
              custom: true
              spec:
                failureThreshold: 6
                successThreshold: 1
                initialDelaySeconds: 0
                periodSeconds: 5
                timeoutSeconds: 1
                tcpSocket:
                  port: 7777
            readiness:
              enabled: true
              custom: true
              spec:
                failureThreshold: 3
                successThreshold: 1
                initialDelaySeconds: 10
                periodSeconds: 5
                timeoutSeconds: 1
                tcpSocket:
                  port: 7777
          resources:
            requests:
              cpu: 2000m
              memory: 2Gi
            limits:
              cpu: 4000m
              memory: 6Gi
    discord-bot:
      strategy: RollingUpdate
      serviceAccount:
        name: discord-bot
      pod:
        automountServiceAccountToken: true
      containers:
        discord-bot:
          image:
            repository: ghcr.io/astral-sh/uv
            tag: alpine
            pullPolicy: IfNotPresent
          command:
            - uv
            - run
            - --no-cache
            - --link-mode
            - copy
            - --directory
            - /app
            - python
            - -u
            - server.py
          env:
            - name: DISCORD_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: discord-bot-secret
                  key: public-key
            - name: DISCORD_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: discord-bot-secret
                  key: bot-token
            - name: DISCORD_APP_ID
              valueFrom:
                secretKeyRef:
                  name: discord-bot-secret
                  key: app-id
            - name: DISCORD_CHANNEL_ID
              valueFrom:
                secretKeyRef:
                  name: discord-bot-secret
                  key: channel-id
            - name: TERRARIA_NAMESPACE
              value: terraria
            - name: TERRARIA_DEPLOYMENT
              value: terraria
            - name: AUTO_STOP_MINUTES
              value: "5"
            - name: MINIMUM_RUN_MINUTES
              value: "30"
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                initialDelaySeconds: 30
                httpGet:
                  path: /health
                  port: 8080
            readiness:
              enabled: true
              custom: true
              spec:
                initialDelaySeconds: 30
                httpGet:
                  path: /health
                  port: 8080
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
    terraria-web:
      strategy: Recreate
      containers:
        terraria-web:
          image:
            repository: ghcr.io/teekennedy/terraria-server-live-map
            tag: "6713bbf"
            pullPolicy: IfNotPresent
          env:
            - name: WORLD_FILE_PATH
              valueFrom:
                configMapKeyRef:
                  name: server-config
                  key: WORLD_FILE_PATH
            # turn off auto-refresh
            - name: REFRESH_INTERVAL_SECONDS
              value: "0"
            - name: TERRARIA_SERVER_HOST
              value: terraria.terraria.svc.cluster.local
          probes:
            liveness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /health
                  port: 3000
            readiness:
              enabled: true
              custom: true
              spec:
                httpGet:
                  path: /ready
                  port: 3000
          resources:
            requests:
              cpu: 100m
              memory: 150Mi
            limits:
              cpu: 250m
              memory: 250Mi

  service:
    terraria:
      controller: terraria
      ports:
        terraria:
          port: &terrariaPort 7777
          protocol: TCP
        http:
          port: &restPort 7878
          protocol: TCP
    discord-bot:
      controller: discord-bot
      ports:
        http:
          port: 8080
          protocol: TCP
    terraria-web:
      controller: terraria-web
      ports:
        http:
          port: &webPort 3000
          protocol: TCP

  ingress:
    terraria-web:
      enabled: true
      annotations:
        traefik.ingress.kubernetes.io/router.entrypoints: websecurepublic
        external-dns.alpha.kubernetes.io/target: external.network.msng.to
        external-dns.alpha.kubernetes.io/record-type: CNAME
      hosts:
        - host: &terrariaHost terraria.msng.to
          paths:
            - path: /discord
              pathType: Prefix
              service:
                identifier: discord-bot
                port: http
            - path: /
              pathType: Prefix
              service:
                identifier: terraria-web
                port: http
      tls:
        - hosts:
            - *terrariaHost

  persistence:
    worlds:
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 5Gi
      retain: true
      advancedMounts:
        terraria:
          terraria:
            - path: /worlds
        terraria-web:
          terraria-web:
            - path: /worlds
              readOnly: true
    configs:
      type: emptyDir
      advancedMounts:
        terraria:
          config-init:
            - path: /config
          terraria:
            - path: /config
    discord-bot-code:
      type: configMap
      name: discord-bot-code
      advancedMounts:
        discord-bot:
          discord-bot:
            - path: /app/server.py
              subPath: server.py
              readOnly: true
            - path: /app/pyproject.toml
              subPath: pyproject.toml
              readOnly: true
    server-config:
      type: configMap
      identifier: server-config
      advancedMounts:
        terraria:
          config-init:
            - path: /config/serverconfig.txt.tmpl
              subPath: serverconfig.txt.tmpl
              readOnly: true

  configMaps:
    server-config:
      forceRename: server-config
      data:
        WORLD_FILE_PATH: /worlds/backflip.wld
        serverconfig.txt.tmpl: |
          #this is an example config file for TerrariaServer.exe
          #use the command 'TerrariaServer.exe -config serverconfig.txt' to use this configuration or run start-server.bat
          #please report crashes by emailing crashlog.txt to support@terraria.org

          #the following is a list of available command line parameters:

          #-config <config file>				            Specifies the configuration file to use.
          #-port <port number>				              Specifies the port to listen on.
          #-players <number> / -maxplayers <number>	Sets the max number of players
          #-pass <password> / -password <password>		Sets the server password
          #-world <world file>					Load a world and automatically start the server.
          #-autocreate <#>					Creates a world if none is found in the path specified by -world. World size is specified by: 1(small), 2(medium), and 3(large).
          #-banlist <path>					Specifies the location of the banlist. Defaults to "banlist.txt" in the working directory.
          #-worldname <world name>             			Sets the name of the world when using -autocreate.
          #-secure						Adds addition cheat protection to the server.
          #-noupnp						Disables automatic port forwarding
          #-steam							Enables Steam Support
          #-lobby <friends> or <private>				Allows friends to join the server or sets it to private if Steam is enabled
          #-ip <ip address>					Sets the IP address for the server to listen on
          #-forcepriority <priority>				Sets the process priority for this task. If this is used the "priority" setting below will be ignored.
          #-disableannouncementbox				Disables the text announcements Announcement Box makes when pulsed from wire.
          #-announcementboxrange <number>				Sets the announcement box text messaging range in pixels, -1 for serverwide announcements.
          #-seed <seed>						Specifies the world seed when using -autocreate

          #Load a world and automatically start the server.
          world=${WORLD_FILE_PATH}

          #Creates a new world if none is found. World size is specified by: 1(small), 2(medium), and 3(large).
          autocreate=3

          #Sets the world seed when using autocreate
          #seed=AwesomeSeed

          #Sets special seed options, overrides the seed text if enabled. 0(disabled), 1(enabled)
          #seed_celebration=1
          #seed_theconstant=1
          #seed_notthebees=1
          #seed_notraps=1
          #seed_fortheworthy=1
          #seed_remix=1
          #seed_drunk=1
          #seed_zenith=1

          #Sets the name of the world when using autocreate
          worldname=Terraria Lost World

          #Sets the difficulty of the world when using autocreate 0(classic), 1(expert), 2(master), 3(journey)
          difficulty=1

          #Sets the max number of players allowed on a server.  Value must be between 1 and 255
          maxplayers=12

          #Set the port number
          port=7777

          #Set the server password
          password=${TERRARIA_PASSWORD}

          #Set the message of the day
          motd=We vibin'

          #Sets the folder where world files will be stored
          #worldpath=C:\Users\Defaults\My Documents\My Games\Terraria\Worlds\

          #Sets the number of rolling world backups to keep
          #worldrollbackstokeep=2

          #The location of the banlist. Defaults to "banlist.txt" in the working directory.
          #banlist=banlist.txt

          #Adds addition cheat protection.
          secure=1

          #Sets the server language from its language code.
          #English = en-US, German = de-DE, Italian = it-IT, French = fr-FR, Spanish = es-ES, Russian = ru-RU, Chinese (Simplified) = zh-Hans, Portuguese = pt-BR, Polish = pl-PL, Japanese = ja-JP, Korean = ko-KR, Chinese (Traditional) = zh-Hant
          language=en-US

          #Automatically forward ports with uPNP
          upnp=0

          #Reduces enemy skipping but increases bandwidth usage. The lower the number the less skipping will happen, but more data is sent. 0 is off.
          #npcstream=60

          #Default system priority 0:Realtime, 1:High, 2:AboveNormal, 3:Normal, 4:BelowNormal, 5:Idle
          priority=1

          #Reduces maximum liquids moving at the same time. If enabled may reduce lags but liquids may take longer to settle.
          #slowliquids=1

          #Journey mode power permissions for every individual power. 0: Locked for everyone, 1: Can only be changed by host, 2: Can be changed by everyone
          #journeypermission_time_setfrozen=2
          #journeypermission_time_setdawn=2
          #journeypermission_time_setnoon=2
          #journeypermission_time_setdusk=2
          #journeypermission_time_setmidnight=2
          #journeypermission_godmode=2
          #journeypermission_wind_setstrength=2
          #journeypermission_rain_setstrength=2
          #journeypermission_time_setspeed=2
          #journeypermission_rain_setfrozen=2
          #journeypermission_wind_setfrozen=2
          #journeypermission_increaseplacementrange=2
          #journeypermission_setdifficulty=2
          #journeypermission_biomespread_setfrozen=2
          #journeypermission_setspawnrate=2

  secrets:
    server-password:
      forceRename: server-password
      annotations:
        secret-generator.v1.mittwald.de/autogenerate: password
        secret-generator.v1.mittwald.de/length: "24"
      stringData: {}
