renovate:
  cronjob:
    schedule: '0 9 * * *'  # Everyday at 09:00
  renovate:
    config: |
      {
        "platform": "gitea",
        "endpoint": "https://git.msng.to/api/v1",
        "gitAuthor": "Renovate Bot <bot@renovateapp.com>",
        "autodiscover": true
      }
  env:
    LOG_LEVEL: debug
  envList:
    - name: RENOVATE_GITHUB_COM_TOKEN
      valueFrom:
        secretKeyRef:
          name: renovate-secret
          key: RENOVATE_GITHUB_COM_TOKEN
    - name: RENOVATE_TOKEN
      valueFrom:
        secretKeyRef:
          name: renovate-gitea-user
          key: token
