---
apiVersion: batch/v1
kind: Job
metadata:
  name: gitea-resources
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
    helm.sh/hook: post-install,post-upgrade
spec:
  backoffLimit: 10
  template:
    spec:
      serviceAccountName: gitea-resources-job
      restartPolicy: Never
      containers:
        - name: apply
          image: golang:1.24-alpine
          env:
            - name: GITEA_HOST
              value: http://gitea-http:3000
            - name: GITEA_USER
              valueFrom:
                secretKeyRef:
                  name: gitea-admin-secret
                  key: username
            - name: GITEA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: gitea-admin-secret
                  key: password
          workingDir: /go/src/gitea-resources
          command:
            - sh
            - -c
          args:
            - |
              # wait for gitea to become available
              timeout 300 sh -c 'until wget -q "$GITEA_HOST" -O /dev/null; do sleep 5; done'
              go run .
          volumeMounts:
            - name: source
              mountPath: /go/src/gitea-resources
              readOnly: true
      volumes:
        - name: source
          configMap:
            name: gitea-resources-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: gitea-resources-config
  namespace: {{ .Release.Namespace }}
data:
  config.yaml: |
    {{- index .Values "gitea-resources" | toYaml | nindent 4 }}
  {{ (.Files.Glob "files/config/*").AsConfig | nindent 2 }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gitea-resources-job
  namespace: {{ .Release.Namespace }}
---

# Generate a single Role per secret namespace,
# that is only allowed to manage the defined secrets in that namespace.
{{- $users := index .Values "gitea-resources" "users" }}
{{- $namespaceSecrets := dict }}

{{- range $users }}
  {{- $ns := .secretNamespace }}
  {{- $secret := .secretName }}
  {{- if not (hasKey $namespaceSecrets $ns) }}
    {{- $_ := set $namespaceSecrets $ns (list $secret) }}
  {{- else }}
    {{- $_ := set $namespaceSecrets $ns (append (get $namespaceSecrets $ns) $secret) }}
  {{- end }}
{{- end }}

{{- range $ns, $secrets := $namespaceSecrets }}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gitea-resources-secret-writer
  namespace: {{ $ns }}
rules:
  # The create permission is incompatible with specific resource names
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["create"]
  - apiGroups: [""]
    resources: ["secrets"]
    resourceNames:
{{- range $secrets }}
      - {{ . }}
{{- end }}
    verbs: ["get", "create", "update", "patch"]
---
{{- end }}

# Generate a single RoleBinding per secret namespace
{{- $users := index .Values "gitea-resources" "users" }}
{{- $seenNamespaces := dict }}

{{- range $users }}
  {{- $ns := .secretNamespace }}
  {{- if not (hasKey $seenNamespaces $ns) }}
    {{- $_ := set $seenNamespaces $ns true }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: gitea-resources-secret-writer-binding
  namespace: {{ $ns }}
subjects:
  - kind: ServiceAccount
    name: gitea-resources-job
    namespace: {{ $.Release.Namespace }}
roleRef:
  kind: Role
  name: gitea-resources-secret-writer
  apiGroup: rbac.authorization.k8s.io
---
  {{- end }}
{{- end }}
