homepage:
  config:
    allowedHosts:
      - msng.to
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - host: &homepageHost msng.to
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: homepage-tls-certificate
        hosts:
          - *homepageHost
