homepage:
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - host: &homepageHost msng.to
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: homepage-tls-certificate
        hosts:
          - *homepageHost
  volumeMounts:
    - name: homepage-config
      mountPath: /app/config/settings.yaml
      subPath: settings.yaml
    - name: homepage-config
      mountPath: /app/config/kubernetes.yaml
      subPath: kubernetes.yaml
    - name: homepage-config
      mountPath: /app/config/widgets.yaml
      subPath: widgets.yaml
    - name: nas
      mountPath: /mnt/nas
      readOnly: true
  volumes:
    - name: homepage-config
      configMap:
        name: homepage-config
    - name: nas
      persistentVolumeClaim:
        claimName: homepage-nas
