apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.anubisKey.secretName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: ED25519_PRIVATE_KEY_HEX
    secret-generator.v1.mittwald.de/encoding: hex
    secret-generator.v1.mittwald.de/length: "64"
type: Opaque
data:
  # This value cannot be passed through the controller's ENVIRONMENT_VARIABLES value directly because the value contains a comma,
  # which is reserved as a splitter between variables.
  # I've reported this issue upstream.
  # https://github.com/jaredallard/ingress-anubis/issues/133
  REDIRECT_DOMAINS: bXNuZy50bywqLm1zbmcudG8= # msng.to,*.msng.to
