apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.anubisKey.secretName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    secret-generator.v1.mittwald.de/autogenerate: ED25519_PRIVATE_KEY_HEX
    secret-generator.v1.mittwald.de/encoding: hex
    secret-generator.v1.mittwald.de/length: "64"
type: Opaque
