{{- $sync := index .Values "secret-sync" | default dict -}}
{{- if (index $sync "enabled") -}}
{{- $output := index $sync "output-secret" | default dict -}}
{{- $outputName := default "homepage-secrets" (index $output "name") -}}
{{- $outputNamespace := default .Release.Namespace (index $output "namespace") -}}
{{- $outputType := index $output "type" -}}
{{- $outputLabels := index $output "labels" -}}
{{- $outputAnnotations := index $output "annotations" -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $outputName }}
  namespace: {{ $outputNamespace }}
  {{- if $outputLabels }}
  labels:
{{ toYaml $outputLabels | nindent 4 }}
  {{- end }}
  {{- if $outputAnnotations }}
  annotations:
{{ toYaml $outputAnnotations | nindent 4 }}
  {{- end }}
{{- if $outputType }}
type: {{ $outputType }}
{{- end }}
stringData: {}
{{- end }}
