argo-cd:
  global:
    domain: argocd.msng.to
    env:
      - name: TZ
        value: America/Denver
  configs:
    # argocd-cmd-params-cm configmap
    params:
      server.insecure: true
      controller.diff.server.side: false
    # argocd-cm configmap
    cm:
      # ArgoCD's default annotation tracking stores a large amount of data in annotations for large resources.
      # This can cause sync errors when the maximum annotation size is exceeded.
      # Use labels instead of annotations for resource tracking.
      application.resourceTrackingMethod: label
      resource.ignoreResourceUpdatesEnabled: true
      resource.customizations.ignoreResourceUpdates.all: |
        jsonPointers:
          - /status
  server:
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      tls: true
    metrics: &metrics
      enabled: true
      serviceMonitor:
        enabled: true
  # TODO integrate with authelia
  dex:
    enabled: false
  controller:
    metrics: *metrics
  repoServer:
    metrics: *metrics
  redis:
    metrics: *metrics

# https://github.com/argoproj/argo-helm/blob/main/charts/argocd-apps/values.yaml
argocd-apps:
  applicationsets:
    root:
      namespace: argocd
      generators:
        - git:
            repoURL: &repoURL http://gitea-http.gitea:3000/ops/k8s-homelab
            revision: &revision main
            directories:
              - path: foundation/*
              - path: foundation/longhorn
                exclude: true
              - path: platform/*
              - path: apps/*
      template:
        metadata:
          name: '{{path.basename}}'
        spec:
          destination:
            name: in-cluster
            namespace: '{{path.basename}}'
          project: default
          source:
            repoURL: *repoURL
            path: '{{path}}'
            targetRevision: *revision
          # When PVCs are migrated manually they have explicit storageClassName and volumeName
          ignoreDifferences:
            - jsonPointers:
                - /spec/volumeName
                - /spec/storageClassName
              kind: PersistentVolumeClaim
          syncPolicy:
            automated:
              prune: true
              selfHeal: true
            retry:
              limit: 10
              backoff:
                duration: 1m
                factor: 2
                maxDuration: 16m
            syncOptions:
              - CreateNamespace=true
              - ApplyOutOfSyncOnly=true
              - RespectIgnoreDifferences=true
