apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/component: redis
spec:
  serviceName: redis-sentinel-headless
  replicas: 3
  podManagementPolicy: OrderedReady
  selector:
    matchLabels:
      app.kubernetes.io/name: redis
      app.kubernetes.io/component: redis
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: redis
        app.kubernetes.io/component: redis
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app.kubernetes.io/component
                  operator: In
                  values:
                  - redis
              topologyKey: kubernetes.io/hostname
      containers:
      - name: redis
        image: redis:6.2-alpine
        ports:
        - containerPort: 6379
          name: redis
        - containerPort: 26379
          name: sentinel
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.authelia.secret.existingSecret }}
              key: session.redis.password.txt
        - name: REDIS_SENTINEL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.authelia.secret.existingSecret }}
              key: session.redis.sentinel.password.txt
        command:
        - sh
        - -c
        - |-
          {{- $.Files.Get "files/start-redis.sh" | nindent 10 }}
        volumeMounts:
        - name: data
          mountPath: /data
        livenessProbe:
          exec:
            command:
            - sh
            - -c
            - |
              redis-cli -a "$REDIS_PASSWORD" --no-auth-warning ping && \
              redis-cli -a "$REDIS_SENTINEL_PASSWORD" -p 26379 ping
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        # Redis sentinel requires DNS to connect to the master,
        # DNS requires readiness probe to succeed.
        # Pod must be ready before sentinel can be started
        readinessProbe:
          exec:
            command:
            - sh
            - -c
            - |
              redis-cli -a "$REDIS_PASSWORD" --no-auth-warning ping
          initialDelaySeconds: 0
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 30
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
  volumeClaimTemplates:
  - metadata:
      name: data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: longhorn-rc1
      resources:
        requests:
          storage: 5Gi
