kube-prometheus-stack:
  ## Setting to true produces cleaner resource names, but requires a data migration because the name of the persistent volume changes. Therefore this should only be set once on initial installation.
  ##
  cleanPrometheusOperatorObjectNames: true
  ## Using default values from https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
  ##
  grafana:
    enabled: true
    defaultDashboardsTimezone: America/Denver
    serviceMonitor:
      labels:
        release: monitoring-system
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - &host grafana.msng.to
      tls:
        - secretName: grafana-general-tls
          hosts:
            - *host
    persistence:
      accessModes:
        - ReadWriteOnce
      enabled: true
      size: 10Gi
      type: pvc
    sidecar:
      dashboards:
        enabled: true
      datasources:
        enabled: true
    envFromSecret: grafana-secrets
    grafana.ini:
      server:
        root_url: https://grafana.msng.to
      # TODO integrate with Authelia
      auth.generic_oauth:
        enabled: false
        # Allows OAuth users without existing grafana accounts to login
        # allow_sign_up: true
        # Bypass login selection screen
        # auto_login: true
        name: SSO
        client_id: grafana-sso
        client_secret: $__env{GRAFANA_SSO_CLIENT_SECRET}
        scopes: openid profile email groups offline_access
        auth_url: https://dex.msng.to/auth
        token_url: https://dex.msng.to/token
        api_url: https://dex.msng.to/userinfo

  ## Configuration for alertmanager
  ## Install Prometheus Operator CRDs
  ##
  crds:
    enabled: true
    ## The CRD upgrade job mitigates the limitation of helm not being able to upgrade CRDs.
    ## The job will apply the CRDs to the cluster before the operator is deployed, using helm hooks.
    ## It deploy a corresponding clusterrole, clusterrolebinding and serviceaccount to apply the CRDs.
    ## This feature is in preview, off by default and may change in the future.
    upgradeJob:
      enabled: true
      forceConflicts: true

  ##
  global:
    rbac:
      create: true

      ## Create ClusterRoles that extend the existing view, edit and admin ClusterRoles to interact with prometheus-operator CRDs
      ## Ref: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles
      createAggregateClusterRoles: true
  kubelet:
    enabled: true
    serviceMonitor:
      metricRelabelings:
        # Remove duplicate labels provided by k3s
        - action: keep
          sourceLabels: ["__name__"]
          regex: (apiserver_audit|apiserver_client|apiserver_delegated|apiserver_envelope|apiserver_storage|apiserver_webhooks|authentication_token|cadvisor_version|container_blkio|container_cpu|container_fs|container_last|container_memory|container_network|container_oom|container_processes|container|csi_operations|disabled_metric|get_token|go|hidden_metric|kubelet_certificate|kubelet_cgroup|kubelet_container|kubelet_containers|kubelet_cpu|kubelet_device|kubelet_graceful|kubelet_http|kubelet_lifecycle|kubelet_managed|kubelet_node|kubelet_pleg|kubelet_pod|kubelet_run|kubelet_running|kubelet_runtime|kubelet_server|kubelet_started|kubelet_volume|kubernetes_build|kubernetes_feature|machine_cpu|machine_memory|machine_nvm|machine_scrape|node_namespace|plugin_manager|prober_probe|process_cpu|process_max|process_open|process_resident|process_start|process_virtual|registered_metric|rest_client|scrape_duration|scrape_samples|scrape_series|storage_operation|volume_manager|volume_operation|workqueue)_(.+)
        - action: replace
          sourceLabels: ["node"]
          targetLabel: instance
        # Drop high cardinality labels
        - action: labeldrop
          regex: (uid)
        - action: labeldrop
          regex: (id|name)
        - action: drop
          sourceLabels: ["__name__"]
          regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)
  kubeApiServer:
    enabled: true
    serviceMonitor:
      metricRelabelings:
        # Remove duplicate labels provided by k3s
        - action: keep
          sourceLabels: ["__name__"]
          regex: (aggregator_openapi|aggregator_unavailable|apiextensions_openapi|apiserver_admission|apiserver_audit|apiserver_cache|apiserver_cel|apiserver_client|apiserver_crd|apiserver_current|apiserver_envelope|apiserver_flowcontrol|apiserver_init|apiserver_kube|apiserver_longrunning|apiserver_request|apiserver_requested|apiserver_response|apiserver_selfrequest|apiserver_storage|apiserver_terminated|apiserver_tls|apiserver_watch|apiserver_webhooks|authenticated_user|authentication|disabled_metric|etcd_bookmark|etcd_lease|etcd_request|field_validation|get_token|go|grpc_client|hidden_metric|kube_apiserver|kubernetes_build|kubernetes_feature|node_authorizer|pod_security|process_cpu|process_max|process_open|process_resident|process_start|process_virtual|registered_metric|rest_client|scrape_duration|scrape_samples|scrape_series|serviceaccount_legacy|serviceaccount_stale|serviceaccount_valid|watch_cache|workqueue)_(.+)
        # Drop high cardinality labels
        - action: drop
          sourceLabels: ["__name__"]
          regex: (apiserver|etcd|rest_client)_request(|_sli|_slo)_duration_seconds_bucket
        - action: drop
          sourceLabels: ["__name__"]
          regex: (apiserver_response_sizes_bucket|apiserver_watch_events_sizes_bucket)
  ## Component scraping the kube controller manager
  ##
  kubeControllerManager:
    enabled: true
    endpoints: &nodeIPs ["10.69.80.10", "10.69.80.11", "10.69.80.12"]
    serviceMonitor:
      metricRelabelings:
        # Remove duplicate labels provided by k3s
        - action: keep
          sourceLabels: ["__name__"]
          regex: "(apiserver_audit|apiserver_client|apiserver_delegated|apiserver_envelope|apiserver_storage|apiserver_webhooks|attachdetach_controller|authenticated_user|authentication|cronjob_controller|disabled_metric|endpoint_slice|ephemeral_volume|garbagecollector_controller|get_token|go|hidden_metric|job_controller|kubernetes_build|kubernetes_feature|leader_election|node_collector|node_ipam|process_cpu|process_max|process_open|process_resident|process_start|process_virtual|pv_collector|registered_metric|replicaset_controller|rest_client|retroactive_storageclass|root_ca|running_managed|scrape_duration|scrape_samples|scrape_series|service_controller|storage_count|storage_operation|ttl_after|volume_operation|workqueue)_(.+)"

  ## Component scraping coreDns. Use either this or kubeDns
  ##
  ## Component scraping etcd
  ##
  kubeEtcd:
    enabled: true

    ## If your etcd is not deployed as a pod, specify IPs it can be found on
    ##
    endpoints: *nodeIPs

    ## Etcd service. If using kubeEtcd.endpoints only the port and targetPort are used
    ##
    service:
      enabled: true
      port: 2381
      targetPort: 2381

  ## Component scraping kube scheduler
  ##
  kubeScheduler:
    enabled: true
    endpoints: *nodeIPs
    serviceMonitor:
      metricRelabelings:
        # Remove duplicate labels provided by k3s
        - action: keep
          sourceLabels: ["__name__"]
          regex: "(apiserver_audit|apiserver_client|apiserver_delegated|apiserver_envelope|apiserver_storage|apiserver_webhooks|authenticated_user|authentication|disabled_metric|go|hidden_metric|kubernetes_build|kubernetes_feature|leader_election|process_cpu|process_max|process_open|process_resident|process_start|process_virtual|registered_metric|rest_client|scheduler|scrape_duration|scrape_samples|scrape_series|workqueue)_(.+)"

  ## Component scraping kube proxy
  ##
  kubeProxy:
    enabled: true
    endpoints: *nodeIPs

  ## Manages Prometheus and Alertmanager components
  ##
  prometheusOperator:
    ## Create Endpoints objects for kubelet targets.
    kubeletEndpointsEnabled: false
    ## Create EndpointSlice objects for kubelet targets.
    kubeletEndpointSliceEnabled: true

    ## Operator Environment
    ##  env:
    ##    VARIABLE: value
    env:
      GOGC: "30"
      TZ: America/Denver

    securityContext:
      fsGroup: 65534
      runAsGroup: 65534
      runAsNonRoot: true
      runAsUser: 65534
      seccompProfile:
        type: RuntimeDefault

    ## Container-specific security context configuration
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
    ##
    containerSecurityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop:
          - ALL
    ## Settings affecting prometheusSpec
    ## ref: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api-reference/api.md#prometheusspec
    ##
    prometheusSpec:
      ## How long to retain metrics
      ##
      retention: 30d

      ## Maximum size of metrics
      ##
      retentionSize: "40GB"
