kube-prometheus-stack:
  ## Setting to true produces cleaner resource names, but requires a data migration because the name of the persistent volume changes. Therefore this should only be set once on initial installation.
  ##
  cleanPrometheusOperatorObjectNames: true
  ## Using default values from https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
  ##
  grafana:
    enabled: true
    defaultDashboardsTimezone: America/Denver
    ingress:
      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - &host grafana.msng.to
      tls:
        - secretName: grafana-general-tls
          hosts:
            - *host
    persistence:
      accessModes:
        - ReadWriteOnce
      enabled: true
      size: 10Gi
      type: pvc
    sidecar:
      dashboards:
        enabled: true
      datasources:
        enabled: true
    envFromSecret: grafana-secrets
    grafana.ini:
      server:
        root_url: https://grafana.msng.to
      # TODO integrate with Authelia
      auth.generic_oauth:
        enabled: false
        # Allows OAuth users without existing grafana accounts to login
        # allow_sign_up: true
        # Bypass login selection screen
        # auto_login: true
        name: SSO
        client_id: grafana-sso
        client_secret: $__env{GRAFANA_SSO_CLIENT_SECRET}
        scopes: openid profile email groups offline_access
        auth_url: https://dex.msng.to/auth
        token_url: https://dex.msng.to/token
        api_url: https://dex.msng.to/userinfo

  ## Configuration for alertmanager
  ## Install Prometheus Operator CRDs
  ##
  crds:
    enabled: true
    ## The CRD upgrade job mitigates the limitation of helm not being able to upgrade CRDs.
    ## The job will apply the CRDs to the cluster before the operator is deployed, using helm hooks.
    ## It deploy a corresponding clusterrole, clusterrolebinding and serviceaccount to apply the CRDs.
    ## This feature is in preview, off by default and may change in the future.
    upgradeJob:
      enabled: true
      forceConflicts: true

  ##
  global:
    rbac:
      create: true

      ## Create ClusterRoles that extend the existing view, edit and admin ClusterRoles to interact with prometheus-operator CRDs
      ## Ref: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles
      createAggregateClusterRoles: true

  ## Component scraping the kube controller manager
  ##
  kubeControllerManager:
    enabled: true
    endpoints: &nodeIPs ["10.69.80.10", "10.69.80.11", "10.69.80.12"]

  ## Component scraping coreDns. Use either this or kubeDns
  ##
  ## Component scraping etcd
  ##
  kubeEtcd:
    enabled: true

    ## If your etcd is not deployed as a pod, specify IPs it can be found on
    ##
    endpoints: *nodeIPs

    ## Etcd service. If using kubeEtcd.endpoints only the port and targetPort are used
    ##
    service:
      enabled: true
      port: 2381
      targetPort: 2381

  ## Component scraping kube scheduler
  ##
  kubeScheduler:
    enabled: true
    endpoints: *nodeIPs

  ## Component scraping kube proxy
  ##
  kubeProxy:
    enabled: true
    endpoints: *nodeIPs

  ## Manages Prometheus and Alertmanager components
  ##
  prometheusOperator:
    ## Create Endpoints objects for kubelet targets.
    kubeletEndpointsEnabled: false
    ## Create EndpointSlice objects for kubelet targets.
    kubeletEndpointSliceEnabled: true

    ## Operator Environment
    ##  env:
    ##    VARIABLE: value
    env:
      GOGC: "30"
      TZ: America/Denver

    securityContext:
      fsGroup: 65534
      runAsGroup: 65534
      runAsNonRoot: true
      runAsUser: 65534
      seccompProfile:
        type: RuntimeDefault

    ## Container-specific security context configuration
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
    ##
    containerSecurityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop:
          - ALL
    ## Settings affecting prometheusSpec
    ## ref: https://github.com/prometheus-operator/prometheus-operator/blob/main/Documentation/api-reference/api.md#prometheusspec
    ##
    prometheusSpec:
      ## How long to retain metrics
      ##
      retention: 30d

      ## Maximum size of metrics
      ##
      retentionSize: "40GB"
