{{- $secretName := index .Values "kube-prometheus-stack" "grafana" "admin" "existingSecret" -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    secret-generator.v1.mittwald.de/type: basic-auth
    secret-generator.v1.mittwald.de/basic-auth-username: admin
type: Opaque
